In [107]:
l=["mukesh","vinod","rajveer","anish","bishal","naresh","kailash"]
print(l)
print(type(l))

['mukesh', 'vinod', 'rajveer', 'anish', 'bishal', 'naresh', 'kailash']
<class 'list'>

In [108]:
print(l[1:3])
print(l)

['vinod', 'rajveer']
['mukesh', 'vinod', 'rajveer', 'anish', 'bishal', 'naresh', 'kailash']

In [109]:
print(l[1::2])

['vinod', 'anish', 'naresh']

In [110]:
print(l[-5:-2])

['rajveer', 'anish', 'bishal']

In [111]:
l[-2]=["mukeh"]
print(l)

['mukesh', 'vinod', 'rajveer', 'anish', 'bishal', ['mukeh'], 'kailash']

In [112]:
l[:2:1]=[12332323,"mukesh","vinod","ravi"]  
print(l)

[12332323, 'mukesh', 'vinod', 'ravi', 'rajveer', 'anish', 'bishal', ['mukeh'], 'kailash']

In [113]:
l.insert(1,"akash")
print(l)

[12332323, 'akash', 'mukesh', 'vinod', 'ravi', 'rajveer', 'anish', 'bishal', ['mukeh'], 'kailash']

In [114]:
l2=["abhi","raj","pankaj"]
print(l2)

['abhi', 'raj', 'pankaj']

In [115]:
z=tuple(l)
print(z)
print(pd.Series(z))

(12332323, 'akash', 'mukesh', 'vinod', 'ravi', 'rajveer', 'anish', 'bishal', ['mukeh'], 'kailash')
0    12332323
1       akash
2      mukesh
3       vinod
4        ravi
5     rajveer
6       anish
7      bishal
8     [mukeh]
9     kailash
dtype: object

In [116]:
l.insert(3,l2)         
print(l)
import pandas as pd
print(pd.DataFrame(l))
s=pd.Series(data=l)
df=pd.DataFrame(data=l)
print(s)
print(df)

[12332323, 'akash', 'mukesh', ['abhi', 'raj', 'pankaj'], 'vinod', 'ravi', 'rajveer', 'anish', 'bishal', ['mukeh'], 'kailash']
                      0
0              12332323
1                 akash
2                mukesh
3   [abhi, raj, pankaj]
4                 vinod
5                  ravi
6               rajveer
7                 anish
8                bishal
9               [mukeh]
10              kailash
0                12332323
1                   akash
2                  mukesh
3     [abhi, raj, pankaj]
4                   vinod
5                    ravi
6                 rajveer
7                   anish
8                  bishal
9                 [mukeh]
10                kailash
dtype: object
                      0
0              12332323
1                 akash
2                mukesh
3   [abhi, raj, pankaj]
4                 vinod
5                  ravi
6               rajveer
7                 anish
8                bishal
9               [mukeh]
10              kailash

In [117]:
l.insert(2,"kamlesh")
print(l)

[12332323, 'akash', 'kamlesh', 'mukesh', ['abhi', 'raj', 'pankaj'], 'vinod', 'ravi', 'rajveer', 'anish', 'bishal', ['mukeh'], 'kailash']

In [118]:
l2=[1,2,3,4]

In [119]:
l.insert(2,l2)

In [120]:
l

[12332323,
 'akash',
 [1, 2, 3, 4],
 'kamlesh',
 'mukesh',
 ['abhi', 'raj', 'pankaj'],
 'vinod',
 'ravi',
 'rajveer',
 'anish',
 'bishal',
 ['mukeh'],
 'kailash']

In [121]:
l.insert(3,l2)

In [122]:
l.append("mukesh")

In [123]:
l

[12332323,
 'akash',
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 'kamlesh',
 'mukesh',
 ['abhi', 'raj', 'pankaj'],
 'vinod',
 'ravi',
 'rajveer',
 'anish',
 'bishal',
 ['mukeh'],
 'kailash',
 'mukesh']

In [124]:
l.extend(l2)

In [125]:
l

[12332323,
 'akash',
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 'kamlesh',
 'mukesh',
 ['abhi', 'raj', 'pankaj'],
 'vinod',
 'ravi',
 'rajveer',
 'anish',
 'bishal',
 ['mukeh'],
 'kailash',
 'mukesh',
 1,
 2,
 3,
 4]

In [126]:
print(type(l))

<class 'list'>

In [127]:
l.remove("mukesh") #remove perticular values from list
l

[12332323,
 'akash',
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 'kamlesh',
 ['abhi', 'raj', 'pankaj'],
 'vinod',
 'ravi',
 'rajveer',
 'anish',
 'bishal',
 ['mukeh'],
 'kailash',
 'mukesh',
 1,
 2,
 3,
 4]

In [128]:
l.pop(1) #remove perticular value by index

'akash'

In [129]:
del l[2:6:2]         #it delete value [start:end:gap]
l

[12332323,
 [1, 2, 3, 4],
 'kamlesh',
 'vinod',
 'ravi',
 'rajveer',
 'anish',
 'bishal',
 ['mukeh'],
 'kailash',
 'mukesh',
 1,
 2,
 3,
 4]

In [130]:
#l.clear()    clear list value empty list

In [131]:
print(l)

[12332323, [1, 2, 3, 4], 'kamlesh', 'vinod', 'ravi', 'rajveer', 'anish', 'bishal', ['mukeh'], 'kailash', 'mukesh', 1, 2, 3, 4]

In [135]:
l.pop(-1)
l.pop(-1)
l.pop(-1)
l.pop(-1)
l.pop(0)
l.pop(0)
print(l)

['ravi', 'rajveer', 'anish']

In [133]:
#del l  # delete list

In [139]:
l.sort(reverse=True)
print(l)

['ravi', 'rajveer', 'anish']

In [140]:
l=["mukesh","suresh","rvi","deva"]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

['deva', 'mukesh', 'rvi', 'suresh']
['suresh', 'rvi', 'mukesh', 'deva']

In [141]:
l1=l.copy()
print(l1)

['suresh', 'rvi', 'mukesh', 'deva']

In [143]:
l3=l1+l
print(l3)

['suresh', 'rvi', 'mukesh', 'deva', 'suresh', 'rvi', 'mukesh', 'deva']