In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    print(x)
print(x)
print(fruits)

apple
apple
banana
banana
cherry
cherry
cherry
['apple', 'banana', 'cherry']

In [21]:
for x in range(1,21,2):
    print(x,end="/")
print()


for x in range(2,21,2):
    print(x,end="/")

1/3/5/7/9/11/13/15/17/19/
2/4/6/8/10/12/14/16/18/20/

In [3]:
import pandas as pd
for i in range(1,11):
    print(i,end=" ")
    print("       ",end="")
    print(i)

1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10        10

In [4]:
a=list(range(11))
print(a[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [5]:
sum1=[]         
for i in range(10):
    number = int(input("enter number"))
    sum1.append(number)
    
print("average",sum(sum1)/len(sum1))

enter number12
enter number23
enter number34
enter number45
enter number45
enter number343
enter number4343
enter number4343
enter number4343
enter number44
average 1357.5

In [6]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w,len(w))

cat 3
window 6
defenestrate 12

In [7]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:
    if len(w) > 6:
        words.insert(0,w)
        
print(words)

['defenestrate', 'cat', 'window', 'defenestrate']

In [8]:
for i in range(5):     # i is a iteration like veriable
    print(i)

0
1
2
3
4

In [9]:
month = ["January","February","March ","april","may","June ","July ","August ","september","October ","November ","December "]
for i in range(0,12):
    print(i,month[i])

0 January
1 February
2 March
3 april
4 may
5 June
6 July
7 August
8 september
9 October
10 November
11 December

In [10]:
month = ["January","February","March ","april","may","June ","July ","August ","september","October ","November ","December "]
for i in range(0,len(month)):
    print(i,month[i])

0 January
1 February
2 March
3 april
4 may
5 June
6 July
7 August
8 september
9 October
10 November
11 December

In [11]:
print(range(10))
print(list(range(5)))
print(tuple(range(5)))
print(set(range(5)))

range(0, 10)
[0, 1, 2, 3, 4]
(0, 1, 2, 3, 4)
{0, 1, 2, 3, 4}

In [12]:
for n in range(2,10):
    for x in range (2,n):
        if n%x == 0:
            print(n,"equal",x,"*",n//x)
            break
    else:
        print(n,"is a prime number")

2 is a prime number
3 is a prime number
4 equal 2 * 2
5 is a prime number
6 equal 2 * 3
7 is a prime number
8 equal 2 * 4
9 equal 3 * 3

In [17]:
l1 = [12,12,2,3,4,5,0]
print(l1,"  ",any(l1))
l1 = [12,12,2,3,4,5]
print(l1,"  ",any(l1))
l1 = [0,0,0,0,0]
print(l1,"   ",any(l1))

[12, 12, 2, 3, 4, 5, 0]    True
[12, 12, 2, 3, 4, 5]    True
[0, 0, 0, 0, 0]     False

In [18]:
l2 = [12,12,2,3,4,5,0]
print(l2,"  ",all(l2))
l2 = [12,1,2,34,3,33,]
print(l2,"  ",all(l2))

[12, 12, 2, 3, 4, 5, 0]    False
[12, 1, 2, 34, 3, 33]    True

In [ ]:
# while loop is used for condition bases program (in infinite number of element)