In [1]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)
    print("complete i loop ")

1 1
1 2
1 3
1 4
complete i loop
2 1
2 2
2 3
2 4
complete i loop
3 1
3 2
3 3
3 4
complete i loop
4 1
4 2
4 3
4 4
complete i loop

In [5]:
for i in range(1,11):
    for j in range(1,6):
        print(i,j,end="       ")
    print()

1 1       1 2       1 3       1 4       1 5
2 1       2 2       2 3       2 4       2 5
3 1       3 2       3 3       3 4       3 5
4 1       4 2       4 3       4 4       4 5
5 1       5 2       5 3       5 4       5 5
6 1       6 2       6 3       6 4       6 5
7 1       7 2       7 3       7 4       7 5
8 1       8 2       8 3       8 4       8 5
9 1       9 2       9 3       9 4       9 5
10 1       10 2       10 3       10 4       10 5

In [6]:
for i in range(2,5):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40

In [7]:
for i in range(2,5):
    for j in range(1,11):
        print(i+j,end=" ")
    print()

3 4 5 6 7 8 9 10 11 12
4 5 6 7 8 9 10 11 12 13
5 6 7 8 9 10 11 12 13 14

In [8]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            i = "*"
            j = "+"
            k = "O"
            print("|",i,j,k,"|",end=" ")
        print("~")
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
| * + O | | * + O | | * + O | | * + O | ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [4]:
for i in range(2,11):
    print()
    for j in range(1,11):
        print("|",i*j,end=" ")
    print()

| 2 | 4 | 6 | 8 | 10 | 12 | 14 | 16 | 18 | 20

| 3 | 6 | 9 | 12 | 15 | 18 | 21 | 24 | 27 | 30

| 4 | 8 | 12 | 16 | 20 | 24 | 28 | 32 | 36 | 40

| 5 | 10 | 15 | 20 | 25 | 30 | 35 | 40 | 45 | 50

| 6 | 12 | 18 | 24 | 30 | 36 | 42 | 48 | 54 | 60

| 7 | 14 | 21 | 28 | 35 | 42 | 49 | 56 | 63 | 70

| 8 | 16 | 24 | 32 | 40 | 48 | 56 | 64 | 72 | 80

| 9 | 18 | 27 | 36 | 45 | 54 | 63 | 72 | 81 | 90

| 10 | 20 | 30 | 40 | 50 | 60 | 70 | 80 | 90 | 100

In [5]:
for i in range(1,5):
    i = "*"
    print(i*j)
    for j in range(1,5):
        print("|",i*j,end=" ")
    print()

**********
| * | ** | *** | ****
****
| * | ** | *** | ****
****
| * | ** | *** | ****
****
| * | ** | *** | ****

In [6]:
for i in range(1,11):
    for j in range(1,11):
        print(i,j)
    print("i loop ends here")

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
i loop ends here
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
i loop ends here
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
i loop ends here
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10
i loop ends here
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
5 10
i loop ends here
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
6 10
i loop ends here
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
i loop ends here
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
8 10
i loop ends here
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
9 10
i loop ends here
10 1
10 2
10 3
10 4
10 5
10 6
10 7
10 8
10 9
10 10
i loop ends here

In [7]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [8]:
for i in range(1,11):
    for j in range(1,11):
        print("*",end = " ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [9]:
for i in range(1,6):
    for i in range(1,6):
        print(i,end = " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [10]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end = " ")
    print()
else:
    print("end the code")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
end the code

In [11]:
i = 1
while i < 11:
    j = 1
    while j < 11:
        print(i*j,end=" ")
        j+=1
    i+=1
    print()
else:
    print("end the code")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
end the code

In [12]:
i = 1
while i < 11:
    for j in range(1,11):
        print(i*j,end=" ")
    i +=1
    print()
else:
    print("the ends")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
the ends

In [13]:
for i in range(1,11):
    j = 1
    while j < 11:
        print(i*j,end = " ")
        j += 1
    print()
else:
    print("the ends")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
the ends

In [14]:
for i in range(1,11):
    if i > 5:
        break
    print(i)

1
2
3
4
5

In [21]:
i = 1
while i < 11:
    if i > 5:
        break
    print(i)
    i += 1

1
2
3
4
5

In [22]:
for i in range(1,11):
    if 1%2 == 0:
        continue
    print(i)
else:
    print("the ends")

1
2
3
4
5
6
7
8
9
10
the ends

In [23]:
i = 0
while i < 11:
    i += 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [24]:
i = 0
while i < 11:
    i += 1
    if i == 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [25]:
for i in range(1,11):
    if 1%2 == 0:
        pass
    print(i)
else:
    print("the ends")

1
2
3
4
5
6
7
8
9
10
the ends

In [28]:
for i in range(1,11):
    j = "*"
    while i < 11:
        print(i*j,end = "")
        i += 1
    print()
else:
    print("the ends")

*******************************************************
******************************************************
****************************************************
*************************************************
*********************************************
****************************************
**********************************
***************************
*******************
**********
the ends

In [7]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
i=6
while i>0:
    j=1
    while j<i:
        print(j,end=' ')
        j+=1
    i-=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [8]:
i = 1
while i < 6:
    j = 6
    while j > i:
        print(i,end = " ")
        j-=1
    i+=1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [12]:
#hijt
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [13]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(i,end=" ")
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [19]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(" ",end=" ")
    for k in range(-1,i-1):
        print(j,end=" ")
    print()

          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5

In [20]:
#hijt
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

n = 5  # Number of rows

for i in range(1, n + 1):  # Outer loop for rows
    for j in range(i):      # Inner loop for printing asterisks
        print("*", end="")
    print()  # Move to the next line after each row
    
    
   The outer loop to print the number of rows.
The inner loops to print the number of columns.
The variable to print whitespace according to the required place in Python.

In [28]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [31]:
# Simple Python program to print the Simple pyramid pattern   
n = int(input("Enter the number of rows"))       
# Here, we are declaring the integer variable to store the input rows  
# Here, we are declaring an outer loop to handle number of rows    
for i in range(0, n):    
    # Here, we are declaring an inner loop to handle number of columns    
    # Here, the values are changing according to outer loop    
        for j in range(0, i + 1):    
            # Here, we are declaring a for loop for printing stars    
            print(j, end=" ")       
        # Here, we are giving the ending line after each row    
        print()

Enter the number of rows5
0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [39]:
# Simple Python program to print the simple reversed right angle pyramid pattern    
rows = int(input("Enter the number of rows:"))   
# Here, we are declaring the integer variable to store the input rows   
k = 2 * rows - 2     # Here, the K is used for number of spaces    
# Here, we are declaring an outer loop to handle number of rows  
for i in range(0, rows):    
      # Here, we are declaring an inner loop to handle number of spaces  
    for j in range(0, k):    
        print(end=" ")    
    k = k - 2      # Here, we are decrementing the k value after each iteration    
# Here, we are declaring an for loop to handle number of rows      
for j in range(0, i + 1):    
        print("* ", end="")   # Here, we are printing the star pattern    
    print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)

In [40]:
# Simple Python program to print the simple downward half - pyramid pattern    
rows = int(input("Enter the number of rows:"))   
# Here, we are declaring the integer variable to store the input rows   
# Here, we are declaring the outer for loop for executing in reversed order    
for i in range(rows + 1, 0, -1):      
    for j in range(0, i - 1):     # here, we are declaring the for loop to print the pattern  
        print("*", end=' ')    
    print(" ")

Enter the number of rows:5
* * * * *
* * * *
* * *
* *
*

In [42]:
# Simple Python program to print the simple triangle pyramid  
n = int(input("Enter the number of rows: "))    
# Here, we are declaring the integer variable to store the input rows  
m = (2 * n) - 2     # Here, the m is used for number of spaces  
# Here, we are declaring an outer loop to handle number of rows  
for i in range(0, n):    
     # Here, we are declaring an for loop to handle number of spaces  
    for j in range(0, m):    
        print(end=" ")    
    m = m - 1      # Here, we are decrementing the m after each loop    
# Here, we are declaring an outer loop to print the pattern      
for j in range(0, i + 1):    
        # Here, we are printing the full Triangle pyramid using stars    
        print("* ", end=' ')    
    print(" ")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 15)

In [43]:
# Simple Python program to print the simple Downward Triangle Pattern  
# Here, we are declaring the integer variable to store the input rows  
rows = int(input("Enter the number of rows: "))    
# Here, the k variable is used to print the space    
k = 2 * rows - 2    
# Here, we are declaring an outer for loop to handle number of rows   
for i in range(rows, -1, -1):    
    # Here, we are declaring an inner for loop to print the number of space.    
    for j in range(k, 0, -1):    
        print(end=" ")    
    k = k + 1    
    # Here, the inner for loop will be used to print the number of stars    
    for j in range(0, i + 1):    
        print("*", end=" ")    
    print("")

Enter the number of rows: 6
          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

In [44]:
# Simple Python program to print the simple Diamond shaped pattern  
# Here, we are declaring the integer variable to store the input rows  
rows = int(input("Enter the number of rows: "))    
# Here, we are using the k variable to print the space    
k = 2 * rows - 2    
# Here, we are declaring an outer for loop to handle number of rows    
for i in range(0, rows):    
    # Here, we are declaring an inner for loop to print the number of spaces   
    for j in range(0, k):    
        print(end=" ")    
    # Here, we are decrementing the k value after each iteration    
    k = k - 1    
# Here, we are declaring an inner for loop to print the pattern    
    for j in range(0, i + 1):    
        print("* ", end="")    
    print("")    
# Here, we are writing the code for Downward triangle Pyramid    
# Here, we are using the k variable to print the space    
k = rows - 2    
# Here, we are declaring the for loop for downward triangle pyramid    
for i in range(rows, -1, -1):    
    # Here, we are declaring an inner for loop to print the pattern    
    for j in range(k, 0, -1):    
        print(end=" ")    
    # Here, we are Incrementing the k value after each iteration    
    k = k + 1    
    # Here, this inner loop will print number of stars    
    for j in range(0, i + 1):    
        print("* ", end="")    
    print("")    
# Here, this print is used for new line after each row to display pattern correctly

Enter the number of rows: 5
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *