# variable

In [1]:
a=1          #a is variable and 1 is values
print(a)

1

# keywords

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# data types
### integer(int),float(float),string(str),boolean(bool),complex(complex)
## formate 
### print(type(variable)

In [3]:
a=1     #integers
print(a)
print(type(a))

1
<class 'int'>

In [4]:
a=1.2 
print(a)                        #float
print(type(a))

1.2
<class 'float'>

In [5]:
a=23j                   #complex only use j alphabet with numeric or integer
print(a)
print(type(a))

23j
<class 'complex'>

In [6]:
a="mukesh"              #string
print(a)
print(type(a))

mukesh
<class 'str'>

In [7]:
a=True                 #boolean only True &  False
print(a)
print(type(a))

True
<class 'bool'>

# change data type

## int____into       string,float,complex,boolean
## float__into       string,int,complex,boolean
## string_into       boolean

# formate
## variable=values
## print(variable)
## print(type(variable)) 
## new_variable="data_type"(variable)   #data_type is int,str,float,bool,complex
## print(new_variable)
## print(type(new_variable))

In [8]:
a=1.4
print(a)
print(type(a))         #example
a1=int(a)
print(a1)
print(type(a1))

1.4
<class 'float'>
1
<class 'int'>

#    operators



# formate
### print(first variable "operaton" other variable)

# arthmetic operator  (ex. +,-,*,/,//,**,%)

In [9]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)

3 4 8 3

In [10]:
print(a+b+c+d)

7

In [11]:
print(a-b)
print(b-a)

-1
1

In [12]:
print(a*c)

24

In [13]:
print(b/c)
print(c/b)

0.5
2.0

In [14]:
print(b%c)
print(c%b)       #show reminder

4
0

In [15]:
print(d//c)
print(c//d)    # / & remove decimal point linke 1.5 is show only 1

0
2

In [16]:
print(b**a)                #after **is as power like b**a   a=3 , b=4   4 ki power 3
print(a**b)               #after **is as power like a**b    a=3 , b=4   3 ki power 4

64
81

## Realtional /comperison operator    (ex. >,<,>=,<=,!=,==)

In [17]:
print(b>c)

False

In [18]:
print(b<c)

True

In [19]:
print(b>=c)

False

In [20]:
print(b<=c)

True

In [21]:
print(b!=c)

True

In [22]:
print(b==c)

False

## assignment operator   (ex.  =,+=,-=,*=,/=,%=,//=,**=

In [23]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a+=b
print(a)

3 4 8 3
7

In [24]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a-=b
print(a)

3 4 8 3
-1

In [25]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a/=b
print(a)

3 4 8 3
0.75

In [26]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a*=b
print(a)

3 4 8 3
12

In [27]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a%=b
print(a)

3 4 8 3
3

In [28]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a**=b
print(a)

3 4 8 3
81

In [29]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a//=b
print(a)

3 4 8 3
0

In [30]:
#a=3   b=4     c=8        d=3
a=3
b=4
c=8
d=3
print(a,b,c,d)
a=b
print(a)

3 4 8 3
4

## membership operator     (ex.   in , not in)

In [31]:
a="develearn"
b="learn"
c="earn"
d="Learn"
print(a in b)
print(a in c)
print(a in d)

False
False
False

In [32]:
print(a,b,c,d)
print(b in a)
print(c in a)
print(d in a)

develearn learn earn Learn
True
True
False

In [33]:
print(a,b,c,d)
print(a not in b)
print(a not in c)
print(a not in d)

develearn learn earn Learn
True
True
True

In [34]:
print(a,b,c,d)
print(b not in a)
print(c not in a)
print(d not in a)

develearn learn earn Learn
False
False
True

## identity operator       (ex. is , is not)

In [35]:
a="learn"
b="learn"
c="earn"
d="Learn"
print(a,b,c)

learn learn earn

In [36]:
print(a is b)
print(a is c)
print(a is d)

True
False
False

In [37]:
print(a is not b)
print(a is not c)
print(a is not d)

False
True
True

## logical operator    (ex.   and(&),or(|),not(~)
#### T=True(1)           F=False(0)
### and   (T,T=T)   (T,F=F)  (F,T=F)    (F,F=F)
#### NOT WITH AND
### not    (T,T=F)   (T,F=T)  (F,T=T)    (F,F=T)  
### or      (T,T=T)   (T,F=T)  (F,T=F)    (F,F=F)
#### NOT WITH OR
### not    (T,T=F)   (T,F=F)  (F,T=F)    (F,F=T)

In [38]:
a=32
b=23
c=26
d=12
print("apply and conditon")
print("a=32 , b=23 , c=26 , d=12")
print((a>b)and(c<d))
print()
print("not apply on both conditions with and")
print("a=32 , b=23 , c=26 , d=12")
print(not((a>b)and(c<d)))     #not apply on both conditions with and
print()
print("not apply on a>b conditions with and")
print("a=32 , b=23 , c=26 , d=12")
print(not(a>b)and(c<d))       #not apply on a>b conditions with and
print()
print("not apply on a<b conditions with and")
print("a=32 , b=23 , c=26 , d=12")
print((a>b)and(not(c<d)))     #not apply on a<b conditions with and
print()
print()
print("apply or conditon")
print("a=32 , b=23 , c=26 , d=12")
print((a>b)or(c<d))
print()
print("not apply on both conditions with or")
print("a=32 , b=23 , c=26 , d=12")
print(not((a>b)or(c<d)))     #not apply on both conditions with or
print()
print("not apply on a>b conditions with or")
print("a=32 , b=23 , c=26 , d=12")
print(not(a>b)or(c<d))       #not apply on a>b conditions with or
print()
print("not apply on a<b conditions with or")
print("a=32 , b=23 , c=26 , d=12")
print((a>b)or(not(c<d)))     #not apply on a<b conditions with or

apply and conditon
a=32 , b=23 , c=26 , d=12
False

not apply on both conditions with and
a=32 , b=23 , c=26 , d=12
True

not apply on a>b conditions with and
a=32 , b=23 , c=26 , d=12
False

not apply on a<b conditions with and
a=32 , b=23 , c=26 , d=12
True


apply or conditon
a=32 , b=23 , c=26 , d=12
True

not apply on both conditions with or
a=32 , b=23 , c=26 , d=12
False

not apply on a>b conditions with or
a=32 , b=23 , c=26 , d=12
False

not apply on a<b conditions with or
a=32 , b=23 , c=26 , d=12
True

## bitwise operator       (ex. AND(&) , OR(|) , XOR(^) , NOT(~)
### bitwise operator is same as logical operator