In [59]:
a={"mukesh","mukesh","choudhary","choudhary"}
b={"mukesh","choudhary","Mukesh","Choudhary"}
c={4,5,34,46,45,65,567,657,6,86,45436}
d={"a","b","c","d","e","f"}
e={True,12j,"m",1.2,23,"a","b","c","d","e","f"}
print(type(1))
print(e)
print()
print(d)
print(len(d))
print()
print(c)
print(len(c))
print()
print(b)
print(len(b))
print(a)
print(len(a))

<class 'int'>
{True, 1.2, 12j, 'a', 'm', 'd', 'e', 23, 'c', 'b', 'f'}

{'d', 'a', 'e', 'c', 'b', 'f'}
6

{65, 34, 4, 5, 6, 45, 46, 657, 86, 567, 45436}
11

{'Choudhary', 'choudhary', 'mukesh', 'Mukesh'}
4
{'choudhary', 'mukesh'}
2

In [91]:

thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'banana', 'apple', 'cherry'}

In [60]:
a={1,0,True,False}
print(a)

{0, 1}

In [61]:
a={True,False,1,1,1,1,1,0,0,0,0,0,0,0,0,0}
print(a)

{False, True}

In [62]:
a.add("mukesh")

In [63]:
print(a)

{False, True, 'mukesh'}

In [64]:
a1={12,23}
print(type(a1))
a.update(a1)
print(a)
a2=(25,37)
print(type(a2))
a.update(a2)
print(a)
a3=[67,89]
print(type(a3))
a.update(a3)
print(a)

<class 'set'>
{False, True, 'mukesh', 23, 12}
<class 'tuple'>
{False, True, 37, 'mukesh', 23, 25, 12}
<class 'list'>
{False, True, 67, 'mukesh', 12, 23, 89, 25, 37}

In [65]:
a.remove(1)
print(a)
print()
a.discard(67)
print(a)
print()
a.pop()
print(a)

{False, 67, 'mukesh', 12, 23, 89, 25, 37}

{False, 'mukesh', 12, 23, 89, 25, 37}

{'mukesh', 12, 23, 89, 25, 37}

In [83]:
e={"a","e","i","o","u"}
f={"a","b","c","d","e"}
g={"z","X"}


import pandas as pd

print(e.union(f))     #print both but duplicate only one
print()
print(e.intersection(f))           #print common
print()
print(e.difference(f))             #print e which are not presents in f
print()
print(e.symmetric_difference_update(f))         #do not print common
a=pd.DataFrame(e.symmetric_difference_update(f))
print(a)
print()
print(f.difference(e))              #print f which are not presents in e

{'o', 'a', 'i', 'u', 'd', 'e', 'c', 'b'}

{'e', 'a'}

{'i', 'o', 'u'}

None
Empty DataFrame
Columns: []
Index: []

{'d', 'c', 'b'}