# string

In [44]:
# store string in variable
a="mukesh choudhary"
print(a)

mukesh choudhary

In [45]:
#assign a multiline string in a variable
#Formate
#"""_"""       or       '''_'''
b='''good morning everyone
i am mukesh choudhary'''
print(b)

good morning everyone
i am mukesh choudhary

In [46]:
print(a[1])    #it start index to the zero

u

In [47]:
print(a[1:3])    #it start from first and end with third position

uk

In [48]:
print(a[:4])    #by default it start from zero(o)

muke

In [49]:
print(a[3:])     #by default it ends with last charactor

esh choudhary

In [50]:
print(a[:])        #by  default start from zero(0)  end with last charactor

mukesh choudhary

In [51]:
print(a[-7:-3])   #it strat count from last  mukesh choudhary

oudh

In [61]:
for c in a:              #print one by one in seperate line
    print(c[:6])

m
u
k
e
s
h

In [53]:
print(len(a)) #find the length of string

16

In [54]:
d="mukesh"
print(d in a)       #check any specify char or sub sting in string
print(a in d)
print("u" in a)

True
False
True

In [55]:
print(d not in a)
print(a not in d)

False
True

In [66]:
#it convert into upper case and lower case
print(a.upper())
print(a.lower())

MUKESH
mukesh

In [63]:
e="       mukesh         choudhary "
print(e)                               #remove space
print(e.strip())

       mukesh         choudhary
mukesh         choudhary

In [58]:
print(a.replace("m","s"))         #it replace charactor or string
print(a.replace("u","s"))
print(a.replace("muk","sur"))
print(a.replace("muk","su"))

sukesh choudhary
mskesh chosdhary
suresh choudhary
suesh choudhary

In [59]:
a = "mukeshchoudhary"
print(a.split("c"))     #split string by specifing charactor

['mukesh', 'houdhary']

In [60]:
a="mukesh"
b="mukesh"
c="choudhary"
print(a+"   "+b+" "+c)

mukesh   mukesh choudhary

In [10]:
a="mukesh choudhary"
print(a)
a.split()

mukesh choudhary

['mukesh', 'choudhary']

In [11]:
c="    i am mukesh choudhary"
print(c)
c.strip()

    i am mukesh choudhary

'i am mukesh choudhary'