In [1]:
a=("raj","jay","viru","ravi","siva","sasi","papu","karan")
print(a)
print(len(a))
b=("windows","android","linux","ios","unix","macos","chromeos","parrotos")
print(b)
print(len(b))
c=(11,13,2.4,17,2,0,13,4)
print(c)
print(len(c))

('raj', 'jay', 'viru', 'ravi', 'siva', 'sasi', 'papu', 'karan')
8
('windows', 'android', 'linux', 'ios', 'unix', 'macos', 'chromeos', 'parrotos')
8
(11, 13, 2.4, 17, 2, 0, 13, 4)
8

In [15]:
print(type(a))
d=list(a)  #tuple converts into list
print(type(d))

<class 'tuple'>
<class 'list'>

In [1]:
#single string convert in tuple
e=("raj")
print(type(e))
f=tuple([e])
print(f)
print(type(f))
print()
print()
#other formate just create second emplty value
g=("raj",)
print(type(g))
print(len(g))
print(g)

<class 'str'>
('raj',)
<class 'tuple'>


<class 'tuple'>
1
('raj',)

In [17]:
h=a+b
print(h)

('raj', 'jay', 'viru', 'ravi', 'siva', 'sasi', 'papu', 'karan', 'windows', 'android', 'linux', 'ios', 'unix', 'macos', 'chromeos', 'parrotos')

In [24]:
raj,jay,viru,ravi,siva,sasi,papu,karan=b
print(raj)
print(jay)
print(viru)
print(ravi)
print(siva)
pro

windows

In [27]:
*raj,jay,viru,ravi=b
print(raj)
print(jay)
print(viru)
print(ravi)

['windows', 'android', 'linux', 'ios', 'unix']

In [ ]:
raj,*jay,viru,ravi=b
print(raj)

In [8]:
e=("mukesh",)
print(type(e))
print(len(e))

<class 'tuple'>
1

In [12]:
t=("m","u","k")
t1=("e","s","h")
t3=t+t1
t3

('m', 'u', 'k', 'e', 's', 'h')

In [13]:
l=["yellow","orange","red","blue"]
banana,orange,apple,null=l
print(banana)
print(orange)
print(apple)
print(null)

yellow
orange
red
blue

In [14]:
l=["yellow","orange","red","blue"]
banana,orange,*apple=l
print(banana)
print(orange)
print(apple)

yellow
orange
['red', 'blue']

In [15]:
l=["yellow","orange","red","blue"]
banana,*orange,apple=l
print(banana)
print(orange)
print(apple)

yellow
['orange', 'red']
blue

In [16]:
l=["yellow","orange","red","blue"]
*banana,orange,apple=l
print(banana)
print(orange)
print(apple)

['yellow', 'orange']
red
blue

In [2]:
l=["yellow","orange","red","blue","black","kiwi"]
banana,orange,*apple=l
print(banana)
print(orange)
print(apple)

yellow
orange
['red', 'blue', 'black', 'kiwi']