In [ ]:
"""words = ['cat', 'window', 'defenestrate']
for w in words:
    words.insert(0,w)
    print(w)
    print(words)
print(words)"""

In [ ]:
# while loop is used for condition bases program (on infinite number of element)

In [1]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1 #2,3,4,5,6,7,8,9,10,11
while i < 11: # since after 11 the condition is false it do not print 11 it stop at 10
    print(i) #1 ,2,3,4,5,6,7,8,9,10
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
i = 1 #2,3,4,5,6,7,8,9,10,11
while i < 11: # since after 11 the condition is false it do not print 11 it stop at 10
    print(i,end=" ") #1 ,2,3,4,5,6,7,8,9,10
    i += 1

1 2 3 4 5 6 7 8 9 10

In [4]:
i = 1
while i < 5:
    print(i)
    i+=1

1
2
3
4

In [5]:
i = 0
while i < 5:
    i+=1
    print(i)

1
2
3
4
5

In [6]:
i = 1
while i < 5:
    i+=1
    print(i)

2
3
4
5

In [8]:
i = 1   #7
s = 0
while i <11:
    num = int(input("enter a number :"))
    s = s + num
    i +=1
print(s/10)

enter a number :12
enter a number :23
enter a number :34
enter a number :34
enter a number :34
enter a number :34
enter a number :34
enter a number :34
enter a number :34
enter a number :34
30.7

In [9]:
times = int(input("print how many times  :"))
name = input("enter a name :")
i = 1
while i<=times:
    print(name)
    i = i+1

print how many times  :12
enter a name :23
23
23
23
23
23
23
23
23
23
23
23
23

In [ ]:
num = 1
while num <= 20:
    if num%2 == 0:
        print(num)
    num = num + 1

In [ ]:
num = 1
while num <= 20:
    if num%2 != 0:
        print(num)
    num = num + 1

In [3]:
num = 1
while num < 10:
    print(num,": square is :",num*num)
    num = num + 1
else:
    print("complete a program")

1 : square is : 1
2 : square is : 4
3 : square is : 9
4 : square is : 16
5 : square is : 25
6 : square is : 36
7 : square is : 49
8 : square is : 64
9 : square is : 81
complete a program

In [7]:
num = 10
while num <= 300:
    print(num,end=" ,")
    num = num + 10
else:
    print("complete 10 t0 300 series")

10 ,20 ,30 ,40 ,50 ,60 ,70 ,80 ,90 ,100 ,110 ,120 ,130 ,140 ,150 ,160 ,170 ,180 ,190 ,200 ,210 ,220 ,230 ,240 ,250 ,260 ,270 ,280 ,290 ,300 ,complete 10 t0 300 series

In [8]:
num = 7
while num <= 105:
    print(num,end=" ,")
    num = num + 7
else:
    print("complete a 7 to 105 series")

7 ,14 ,21 ,28 ,35 ,42 ,49 ,56 ,63 ,70 ,77 ,84 ,91 ,98 ,105 ,complete a 7 to 105 series

In [10]:
num = 10
while num >=0:
    print(num,end=" ")
    num = num - 1
else:
    print("complete program of natural number in reverse order ")

10 9 8 7 6 5 4 3 2 1 0 complete program of natural number in reverse order

In [12]:
num = 0
new_list = []
while num <= 10:
    new_list.append(num)
    num = num + 1
else:
    print("sum of all natural number :",sum(new_list))

sum of all natural number : 55

In [3]:
num = 0
new = []
while num <= 20:
    if num%2 == 0:
        new.append(num)
    num = num + 1
else:
    print("total",sum(new))

total 110

In [1]:
num = int(input("enter a number"))
itg = 1
while itg <= 10:
    print(num*itg)
    itg = itg + 1
else:
    print("complete table")

enter a number3
3
6
9
12
15
18
21
24
27
30
complete table

In [4]:
num = int(input("enter a number :"))
count = 2
if num > count:
    while

enter a number :12
prime

In [11]:
9e3//200

45.0