In [4]:
#tab define with size
print("mukesh\t400")
print("mukesh\t400".expandtabs(tabsize=10))
print("mukesh\t400".expandtabs(tabsize=20))

mukesh	400
mukesh    400
mukesh              400

In [13]:
#decimal syatem
print("A",ord("A"))
print(ord("\n"))
print(ord(" "))
print(ord("\t"))
print(ord("@"))

A 65
10
32
9
64

In [16]:
#reverse decimar system
print(chr(65))
print(chr(64))
print(chr(32))
print(chr(9))
print(chr(34))

A
@


"

In [20]:
print(oct(ord("A")))
print(hex(ord("A")))
print(bin(ord("A")))

0o101
0x41
0b1000001

In [24]:
print("mukesh \012choudhary")#escape charactor in other form
print("mukesh \x0achoudhary")#escape charactor in other form

mukesh
choudhary
mukesh
choudhary

In [32]:
print("ram\t \N{INDIAN RUPEE SIGN}500")
print("ram\t \u20B9500")
print("RAM\t \U000020B9500")

ram	 ₹500
ram	 ₹500
RAM	 ₹500

In [36]:
print("ram\owe")

ram\owe

<>:1: SyntaxWarning: invalid escape sequence '\o'
<>:1: SyntaxWarning: invalid escape sequence '\o'
C:\Users\Admin\AppData\Local\Temp\ipykernel_5828\3382110455.py:1: SyntaxWarning: invalid escape sequence '\o'
  print("ram\owe")